@tailwind base;
@tailwind components;
@tailwind utilities;

.img-box {
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
}

.preview {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.preview img {
  max-width: 100%;
  width: 100%;
}
